<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="body">
<div class="container">
    <header class="header">
        <a href="http://127.0.0.1:8000/" class="logo">VSYODO</a>
        <div class="search-box">
            <input type="text" placeholder="Найти на VSYODO">
        </div>
        <nav class="navigation">
            <div class="header-icons">
            <a href="http://127.0.0.1:8000/profile/" class="icon profile">👤</a>
            <a href="http://127.0.0.1:8000/cart/" class="icon cart">🛒
                <span class="cart-count">0</span>
            </a>
            </div>
        </nav>
    </header>

    <section class="sale-section">
        <div class="carousel">
            <button class="carousel-btn">←</button>
            <div class="sale-banner">winter sale</div>
            <button class="carousel-btn right">→</button>
        </div>
    </section>

    <section class="products-section">
        <div class="products-grid">
            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/9034452523.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">1726 ₽</div>
                    <div class="product-seller">Игровая консоль для телевизора , 20500 ретро игр, 4K , игры Nintendo , Sega, PS1</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/8031094807.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">370 ₽</div>
                    <div class="product-seller">Лонгслив Лонгслив</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                   <img src="{% static 'img/8938846496.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">165 ₽</div>
                    <div class="product-seller">Переходник универсальный для розетки, сетевой адаптер</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/9002027338.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">684 ₽</div>
                    <div class="product-seller">Old Spice Твердый дезодорант Wolfthorn 50 мл + 50 мл</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>