{% extends "base.html"%}
{% block title%}MainPage{% endblock title %}
{% load static %}
{% block content%}
    <section class="products-section">
        <div class="products-grid">
            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/9034452523.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">1726 ₽</div>
                    <div class="product-seller">Игровая консоль для телевизора , 20500 ретро игр, 4K , игры Nintendo , Sega, PS1</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/8031094807.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">370 ₽</div>
                    <div class="product-seller">Лонгслив Лонгслив</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                   <img src="{% static 'img/8938846496.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">165 ₽</div>
                    <div class="product-seller">Переходник универсальный для розетки, сетевой адаптер</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/9002027338.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">684 ₽</div>
                    <div class="product-seller">Old Spice Твердый дезодорант Wolfthorn 50 мл + 50 мл</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="{% static 'img/7148169285.webp' %}" alt="Логотип">
                </div>
                <div class="product-info">
                    <div class="product-price">358 ₽</div>
                    <div class="product-seller">Носки, 10 пар</div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}